<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentDatabaseCS.Properties.Settings.StudDBConnectionString"
            connectionString="Data Source=haitao-server.database.windows.net;Initial Catalog=StudDB;User ID=Haitao;Password=WHTwht121;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>